.vs/
[Ll]ibrary/
[Tt]emp/
Obj/
Build/
Builds/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]ogs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
*.pdb
*.mdb
.vscode/
.idea/
*.sln.iml
.DS_Store
Thumbs.db

